* {
    box-sizing: border-box;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px;
}

form {
    background-color: #0099cc;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.data {
    display: flex;
    flex-direction: column;
    color: rgb(22, 95, 22);
    text-align: right;
    padding-right: 6rem;
    padding: 1rem;
    background-color: rgba(253, 249, 249, 0.1)
}

.row {
    display: flex;
    justify-content: space-between;
}

.goalTitle {
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0.5rem 0.5rem;
    background-color: rgb(151, 151, 167);
}

hr {
    border: none;
    color: rgb(216, 232, 236);
    background-color: rgb(216, 232, 236);
    height: 2px;
}

.goal {
    font-weight: bold;
    padding-top: 0rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    background-color: rgb(151, 151, 167);
}

span {
    color: rgb(172, 21, 21);
    filter: drop-shadow(0 0 4px rgb(252, 251, 251));
}

.enterValues {
    color: rgb(211, 212, 211);
    text-align: left;
    text-transform: uppercase;
    filter: none;
}



#countForm {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    background: #f4df41;
    border: 0;
    border-bottom: 2px solid #e2b607;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    outline: none;
    border-radius: 5%;
    align-self: flex-end;
    height: 40px;
}

#countForm:active {
    top: 1px;
    box-shadow: none;
    outline: none;
}

#plot {
    border: solid #33b5e5;
    text-align: center;
}

body {
    background: #fff1e0;
    min-width: 775px;
    overflow: auto;
}

table {
    width: 100%;
    text-align: center;
    border: solid;
    padding: 15px;
}

#plot {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

line.tick {
    stroke-width: 0.5;
}

line.minor-tick {
    stroke-width: 1;
    stroke-opacity: 0.1;
}

.a-axis {
    stroke: #333;
}

.b-axis {
    stroke: #333;
}

.c-axis {
    stroke: #333;
}

.axis-title {
    font-family: sans-serif;
    font-size: 1.5rem;
}

text.tick-text {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    fill: #333;
    stroke: none;
}

circle {
    fill: rgb(244, 244, 245);
    stroke: rgb(87, 66, 202);
    stroke-width: 1px;
}